<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
  </head>
  <body style="margin: 0">
    <div id="header">
      <a href="/" class="header-logo">
        <img src="/images/duck_128x128.png" alt="logo">
        Torello
      </a>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>