<div class="container">
  <div class="row">
    <div class="col col-sm-3 card">
      <%= erb :"_item.html" %>
    </div>
    <div class="col col-sm-3"></div>
    <div class="col col-sm-3"></div>
    <div class="col col-sm-3"></div>
  </div>
</div>

<div class="container">
  <form method="POST" action="/create">
    <p>Create Task: <input type="text" name="name"></p>
    <input type="hidden" name="done" value="false">
    <input type="submit" value="Create">
  </form>
</div>